.projectsDiv{
    /* background-color: pink; */
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
    height: auto;
    margin: 5rem auto 0;

    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
}

.project{
    /* background-color: aliceblue; */
    height: 330px;
    background-color: var(--main-text-color);
    padding: 2rem;
    color: var(--main-background-color);
    border: 2px solid var(--main-text-color);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.project:hover{
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

.project h3{
    font-size: 1.5rem;
    font-family: var(--title-family);
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}
.project p{
    font-size: 1rem;
    font-family: var(--text-family);
    margin-bottom: 1.5rem;
}

.project .projects_btnGrp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: aqua; */
}
.project .projects_btnGrp > div{
    width: 45%;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50px;
    position: relative;
}
.project .projects_btnGrp > div svg{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20%;
    right: 20%;
}
.project .projects_btnGrp button{
    border: none;
    outline: none;
    border-radius: inherit;
    padding: .8rem 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: inherit;
    color: inherit;
}
.project .projects_btnGrp div:last-child{
    border-radius: 0;
    border-top-right-radius: 50px;
    padding-right: .5rem;
}
.project button:hover svg{
    fill: red;
}