.projectsDiv{
    /* background-color: pink; */
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    height: auto;
    margin: 10rem auto 0;

    display: grid;
    grid-gap: 2rem;
    /* grid-template-columns: repeat(auto-fill, 300px); */
    grid-template-columns: repeat(auto-fill, minmax(280px, 350px));
    justify-content: center;
}
.projectsDiv > span{
    position: absolute;
    top: 5rem;
    font-size: calc(3rem + 1vw);
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--main-text-color);
    opacity: .4;
    z-index: 0;
}

.project{
    /* background-color: aliceblue; */
    height: auto;
    background-color: var(--main-text-color);
    padding: 2rem;
    color: var(--main-background-color);
    border: 2px solid var(--main-text-color);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 500ms;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}

.project:hover{
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

.project h3{
    font-size: 1.5rem;
    font-family: var(--title-family);
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}
.project p{
    font-size: calc(.8rem + .3vw);
    font-family: var(--text-family);
    margin-bottom: 1.5rem;
}
.project span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--main-background-color);
    margin: 1rem 0;
}
.project:hover span{
    background-color: var(--main-text-color);
} 

.project .projects_btnGrp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: aqua; */
}

.project .projects_btnGrp a{
    display: inline-block;
    width: 45%;
    /* background-color: aqua; */
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .8rem 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
}
.project:hover a{
    color: var(--main-background-color);
    background-color: var(--main-text-color);
}
.project:hover svg{
    fill: var(--main-background-color);
}
.project .projects_btnGrp svg{
    fill: var(--main-text-color);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20%;
    right: 20%;
}

.project:hover svg{
    fill: var(--main-background-color);
}


@media screen and (max-width: 800px) {
    .projectsDiv{
        margin: 7rem auto 0; 
    }
}
@media screen and (max-width: 600px) {
    .projectsDiv{
        margin: 6rem auto 0; 
    }
    .project p{
        font-size: 1rem;
    }
}